.background {
    background-color: white;
    padding: 10px 35px ;
    width: fit-content;
    border-radius: 15px;
    align-items: center;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
  
    .imgbg1 {
      padding: 25px;
      background-color: dodgerblue;
      border-radius: 15px;
      margin-right: 35px;
      color: white;
      &:hover {
        background-color: darkorange;
        cursor: pointer;
      }
  
      .icon {
        font-size: 34px;
      }
    }
  
    .col {
      h1 {
        margin: 0;
        font-weight: 100;
      }
      h4 {
        margin: 0;
        font-weight: bold;
      }
    }
  }
  